<div class= "container">
    <footer class="footer">
        <small>
            copyright &copy; by <a href = "https://github.com/fadlir93/simple_website">Fadli Ramadhan</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "about", "http://localhost:3000/pages/about" %></li>
            </ul>
        </nav>
    </footer>
</div>